<header class="header">
    <div class="header__title">
        <span>👽</span>
        <strong>AM - Algorithms</strong>
    </div>
    <nav class="header__nav">
        <ul>
            <li><a>Stacks</a></li>
            <li><a>Queues</a></li>
        </ul>
    </nav>
    <div class="header__credits">
        Cooked with 💙 by <a href="https://github.com/bluesmoss" target="_blank" class="footer__author">@bluesmoss</a> <br> 2<span class="credits__year">K</span>21
    </div>
</header>
<main class="content">

</main>