<div class="stack">
    <div class="stack__header title">
       <span class="font-green">Stacks</span>
    </div>
    <input type="text" [(ngModel)]="newItem">
    <button (click)="push()">Add item</button>
    <button (click)="pop()">Remove item</button>
    <button (click)="verifyEmpty()">Is empty?</button>
    <button (click)="getTop()">Get top</button>
    <button (click)="getBottom()">Get bottom</button>
    <button (click)="getSize()">Get stack size</button>

    <div class="stack__message flex-row" *ngIf="showMessage">
        <div class="message flex-column">
            <p>{{message}}</p>
            <button class="btn btn--delta" (click)="hideMessage()">OK</button>            
        </div>
    </div>

    <ul>
        <li *ngIf="items.length===0">The stack is empty</li>
        <li *ngFor="let name of items; index as i">
            {{i + 1}}.- {{name}} 
        </li>
    </ul>
</div>