<div class="stack">
    <div class="stack__header title">
       <span class="font-green">Stacks</span>
    </div>

    <ul class="stack__actions flex-row">
        <input type="text" class="search" placeholder="Add new element..." [(ngModel)]="newItem">
        <a (click)="push()">Add item</a>
        <a (click)="pop()">Remove item</a>
        <a (click)="verifyEmpty()">Is empty?</a>
        <a (click)="getTop()">Get top</a>
        <a (click)="getBottom()">Get bottom</a>
        <a (click)="getSize()">Get stack size</a>
    </ul>

    <div class="stack__message flex-column" [ngClass]="{'info-message': showMessage}">
        <div *ngIf="showMessage" class="flex-row">
            <span>{{message}}</span>
            <a class="info__closing" (click)="hideMessage()">OK</a>          
        </div>
    </div>

    <div class="stack__list">

        <span>Current Stack</span>
        <hr>
        <ul>
            <li *ngIf="items.length===0">The stack is empty</li>
            <li *ngFor="let name of items; index as i">
                {{i + 1}}.- {{name}} 
            </li>
        </ul>
    </div>

</div>