$font-color: #FFFFFF;
$base-color: #282828;
$header-color: #121212;
$main-green: #21c08B;
$blue-color: #3283d3;
$purple-color: #6717cd;
$pink-color: #f313fe;
$orange-color: #ff9e14;


// Placeholders
%flex-row{
    display: flex;
    flex-direction: row;
}


%flex-column{
    display: flex;
    flex-direction: column;
}


//Mixins

@mixin mixed-font-color($primary-color, $secondary-color){
    background: linear-gradient(to right, $primary-color, $secondary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}



body {
    margin: 0px;
    background: $base-color;
    height: 100vh;
    font-family: 'Baloo Thambi 2', cursive;
    color: $font-color;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 240px auto;
}

.header{
    background-color: $header-color;
    display: grid;
    grid-template-rows: 120px auto 80px;

    &__title{
        @extend %flex-column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;

        span{
            font-size: 2.5rem;
        }
    }

    li{
        font-size: 1.5rem;
        height: 100%;

        &:hover{
            cursor: pointer;
            font-weight: bold;
        }

        .active{
            font-weight: bold;
            border-left: 2px solid $main-green;
        }

        a{
            padding-left: 15px;
        }        
    }

    a{
        color: $font-color;
        text-decoration: none;

        &:active{
            color: $font-color;
        }
    }       


    

    &__credits{
        padding: 5px;
        text-align: center;
        font-size: 0.8rem;

        .credits__year{
            font-weight: bold;
            color: $main-green;
        }
    }

}

.content{
    overflow-y: hidden;
}

.font-blue{
    @include mixed-font-color($blue-color, $main-green);
}

.font-green{
    @include mixed-font-color($main-green, $orange-color);
}

.flex-row{
    @extend %flex-row;
    justify-content: center;
    align-items: center;
}

.flex-column{
    @extend %flex-column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 2.5rem;
}

.message{
    height: 60px;
    width: 300px;
    border: 1px solid $main-green;
    padding: 20px;
}

.search{
    border-radius: 500px;
    padding: 5px 20px;
    border: 0;
}

.info-message{
    background-color: $main-green;
}

//buttons
